.App {
  text-align: center;
  height:100vh;
}
.App-link {
  color: #61dafb;
}

.button{
  float:right;
  margin-top: 5px;
}
.window{
  width:auto;
  margin-top: 60px;
}
.textField{
  width:30% !important;
  /*margin:0 auto;*/
}
.addButton{
  float:left;
}
.mainWindow{
  width:100%;
  height:150%;
}
body {
  height: 100vh;
}
body {
  min-height: 100vh;
}
span{
  font-weight: bold;
}
.WeatherQueryForm{
  margin-top:100px;
}
.error{
  margin-top:100px;
}
.errorImg{
  margin-top:15px;
}
.errorMsg{
  margin-left:50px;
}